<h3 class="pt-1">Acciones del trámite</h3>

<div class="row pt-3">
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="tarjeta-acciones mb-4">
      <div class="head-acciones">
        <a href="radicar"><h4 >
          Radicar trámite
        </h4></a>
      </div>
      <div class="body-acciones">
        <p>
          Inicie el trámite de legalización de los documentos de educación
          superior.
        </p>
      </div>
    </div>
  </div>
  <div class="col-12 col-sm-6 col-lg-4">
    <div class="tarjeta-acciones mb-4">
      <div class="head-acciones">
        <a href="consultar"><h4> 
          Consultar trámites
        </h4></a>
      </div>
      <div class="body-acciones">
        <p>
          Consulte el estado de sus solicitudes ante el Ministerio de
          Educación Nacional.
        </p>
      </div>
    </div>
  </div>
  
</div>