 
      <div class="tarjeta-ayuda bg-color-concrete">
        <a href="#"><span class="">Te explicamos con Tutoriales</span></a>
      </div>

      <div class="tarjeta-ayuda tarjeta bg-color-concrete">
        <span class="">¿Tienes dudas?</span>
        <i
          class="fa toogle-icon collapsed"
          data-toggle="collapse"
          href="#collapse-dudas"
          role="button"
          aria-expanded="false"
          aria-controls="collapse-dudas"
        ></i>

        <div id="collapse-dudas" class="contenido-ayuda collapse">
          <div class="row mt-3 ml-1">
            <div class="col-2 text-center mt-2">
              <a href="#"
                ><img
                  src="assets/images/mail_area_servicio.svg"
                  style="margin-top: 5px; width: 23px"
              /></a>
            </div>
            <div class="col-10 mt-2">
              <a href="#"><span class="">ayuda@entidad.gov.co</span></a>
            </div>

            <div class="col-2 text-center mt-2">
              <a href="#"
                ><img
                  src="assets/images/contacto_area_servicio.svg"
                  style="margin-top: 13px; height: 20px"
                />
              </a>
            </div>
            <div class="col-10 mt-2">
              <a href="#"
                ><span class=""
                  >(1) 123-45-78 <br />
                  01-8000-456-768</span
                ></a
              >
            </div>

            <div class="col-2 text-center mt-2">
              <a href="#"
                ><img
                  src="assets/images/dudas_area_servicio.svg"
                  style="margin-top: 5px; height: 18px"
              /></a>
            </div>
            <div class="col-10 mt-2">
              <a onClick="consultarPreguntasFrecuentes();"
                ><span class="enlace">Preguntas frecuentes</span></a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="tarjeta-ayuda tarjeta bg-color-concrete">
        <span class="">¿Cómo fue tu experiencia durante el proceso?</span>
        <i
          class="fa toogle-icon collapsed"
          data-toggle="collapse"
          href="#collapse-comentarios"
          role="button"
          aria-expanded="false"
          aria-controls="collapse-comentarios"
        ></i>

        <div id="collapse-comentarios" class="contenido-comentarios collapse">
          <div class="row mt-3 ml-1">
            <div class="col-12">
              <div class="calificacion float-left">
                <p>
                  <a href="#"><i class="fas fa-check-circle"></i></a>
                </p>
                <span>FÁCIL</span>
              </div>
              <div class="calificacion">
                <p>
                  <a href="#"><i class="fas fa-times-circle"></i></a>
                </p>
                <span>DIFÍCIL</span>
              </div>
            </div>

            <div class="col-4 text-center mt-2"></div>
          </div>

          <button href="/" class="btn btn-round btn-middle w-100">
            ENVÍA TUS COMENTARIOS
          </button>
        </div>
      </div>

     <a href="/"> <button  class="btn btn-round btn-middle boton-inicio">
        VOLVER A INICIO DEL TRÁMITE
      </button></a>