<div class="comentarios-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5>¿Cómo fue tu experiencia durante el proceso?</h5>
      </div>
      <div class="col-md-4">
        <div class="calificacion">
          <a href="#"><i class="fas fa-check-circle"></i> <span>FÁCIL</span></a>
        </div>
        <div class="ml-4 mr-4"></div>
        <div class="calificacion">
          <a href="#"
            ><i class="fas fa-times-circle"></i> <span>DIFÍCIL</span></a
          >
        </div>
      </div>

      <div class="col-md-1 position-relative">
        <div class="borde">&nbsp;</div>
      </div>
      <div class="col-md-4">
        <button
          onclick="javascript:AbrirPopUp('tablaCodigosDocumentos_con.jsp?opc=0');"
          class="btn btn-round btn-middle pt-2 pb-2 boton-inicio"
        >
          ENVÍA TUS COMENTARIOS
        </button>
      </div>
    </div>
  </div>
</div>